apache-beam==2.60.0
google-ads==25.1.0
google-api-python-client==2.154.0
google-cloud-bigquery==3.27.0
google-cloud-firestore==2.19.0
google-cloud-storage==2.18.2
aiohttp==3.11.7
pandas==2.2.2
boto3==1.35.12
typed-ast==1.5.5
# These packages are indirected dependencies.
# Their versions are fixed here to improove resolution time.
google_auth==2.34.0
fasteners==0.19
google-apitools==0.5.32
tadau==1.0.7
# Test deps
mypy==1.13.0
pytest==8.3.3
pytest-cov==6.0.0
pytest-mock==3.14.0
pytz==2024.2
requests-mock==1.12.1